.welcome-container {
  background-image: url('../../../assets/images/start-background.png'), linear-gradient(to bottom, #0369c2, #00347d);
  height: 100vh;

  .welcome-carousel {
    .carousel-item {
      padding-bottom: 200px;

      img {
        width: 560px !important;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 768px) {
          width: 410px !important;
        }

        @media (max-width: 576px) {
          width: 280px !important;
        }
      }

      .carousel-caption {
        h3 {
          font-size: 36px;
          font-weight: bold;
        }

        p {
          font-size: 20px;
          color: #90aeda;
        }
      }

      @media (max-width: 768px) {
        padding-bottom: 250px;
      }
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      width: 24px;
      height: 36px;
      color: rgba(7, 51, 112, 0.6);
      opacity: 0.5;
    }
  }

  .start-btn-container {
    button {
      width: 300px;
      height: 40px;
      font-size: 18px;
      border-radius: 3px;
      color: #ffffff;
      background-color: #98b60c;

      @media (max-width: 768px) {
        width: 200px;
      }
    }
  }
}
