.cards-list {
  .numbers-list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .estimation-card-container {
    width: 109px;
    height: 140px;
    margin-bottom: 10px;
    background-color: #2a82f0;
    border-radius: 10px;
    box-shadow: 0 1px 8px 0 rgba(25, 27, 79, 0.2), 0 3px 3px -2px rgba(25, 27, 79, 0.12), 0 3px 4px 0 rgba(25, 27, 79, 0.14), inset -2px -3px 0 0 #155bb3;
    border: solid 1px #ffffff;
    color: #fff;
    cursor: pointer;

    &.active {
      background-color: #155bb3;
    }

    .card-top {
      font-family: Arial;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.4);
      padding: 8px 10px;
    }

    .card-body {
      background-image: url("../../../assets/images/bg-points.svg");
      width: 64px;
      font-family: Arial;
      color: #e7effa;
      padding: 0;
      font-size: 43px;
      text-shadow: 1px 1px 0 #155bb3;
      color: #e7effa;
      text-align: center;
      font-weight: bold;
    }

    .card-bottom {
      font-family: Arial;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.4);
      padding: 8px 10px;
    }
  }
  .confirmation-button-container {
    padding: 15px 12px 0 0;
    width: 100%;

    button {
      width: 200px;
      font-size: 16px;
      border-radius: 3px;

      &.active-button {
        background-color: #0369c2;
      }

      &.inactive {
        box-shadow: none;
      }
    }
  }
}
@media (max-width: 600px) {
  .cards-list {
    .numbers-list{
      .estimation-card-container {
        width: 80px;
        height: 120px;

        .card-body {
          font-size: 30px;
        }
      }
    }
  }
}
