.header {
  top: 0;
  background-color: #0369c2;
  height: 80px;

  .header-logo {
    height: 60px;
    object-fit: contain;
    padding: 5px 0 5px 50px;

    @media (max-width: 768px) {
      padding: 5px 0 5px 25px;
    }

    @media (max-width: 575.98px) {
      padding: 5px 0 5px 15px;
    }
  }

  .user-name {
    color: #d7e4f7;
    font-size: 18px;
    margin-right: 16px;
  }

  .image-container {
    padding: 10px;
    border-radius: 50%;
    border: solid 1px rgba(97, 135, 184, 0.4);
    background-color: #edeffb;
    margin-right: 50px;

    @media (max-width: 768px) {
      margin-right: 25px;
    }

    @media (max-width: 575.98px) {
      margin-right: 15px;
    }
  }

  .leave-room {
    cursor: pointer;
    margin-right: 10px;
    border-radius: 50%;

    &.btn-primary {
      background-color: #0369c2;
      border-color: #0369c2;
      box-shadow: none;

      &:focus {
        box-shadow: none;
      }

      &:active {
        box-shadow: none;
      }
    }
  }
}
