.join-room-container {
  background-image: url('../../../assets/images/start-background.png'), linear-gradient(to bottom, #0369c2, #00347d);
  min-height: 100vh;

  .room-content {
    width: 75%;
    max-width: 880px;
    box-shadow: 0 1px 18px 0 rgba(86, 127, 180, 0.12), 0 6px 10px 0 rgba(86, 127, 180, 0.14), 0 3px 5px -1px rgba(86, 127, 180, 0.2);

    .room-logo {
      padding: 16px;
      border-bottom: solid 1px #d8dbfb;
      background-color: #ffffff;
      border-radius: 6px 6px 0 0;

      @media (max-width: 575.98px) {
        border-radius: unset;
      }
    }

    .room-form-content {
      .join-room-form {
        padding-bottom: 40px;
        background-color: #ffffff;
        border-radius: 0 0 0 6px;

        .form-content {
          margin: 20px;

          .form-title {
            font-size: 32px;
            color: #033b74;
            font-weight: 900;
            padding: 20px 0;
          }

          button {
            width: 200px;
            height: 40px;
            font-size: 18px;
            border-radius: 3px;
            color: #ffffff;
            background-color: #98b60c;
          }

          @media (max-width: 768px) {
            padding: 10px;
          }

          @media (max-width: 575.98px) {
            margin: 0;
          }
        }

        @media (max-width: 768px) {
          border-radius: 0 0 6px 6px;
        }
      }

      .room-illustration {
        background-color: rgba(239, 246, 255, 1);
        border-radius: 0 0 6px 0;
        padding: 20px 0 40px 0;

        .illustration-image {
          width: 100%;
          padding: 20px;

          @media (max-width: 768px) {
            width: 250px;
          }

          @media (max-width: 575.98px) {
            width: 200px;
          }
        }

        .illustration-text {
          color: #073370;

          .text-header {
            font-size: 22px;
            font-weight: 900;
          }

          .text-description {
            font-size: 18px;
            padding: 15px 20px;

            @media (max-width: 575.98px) {
              padding: unset;
            }
          }
        }

        @media (max-width: 768px) {
          background-color: #fff;
          padding: 30px;
        }
      }

      @media (max-width: 575.98px) {
        height: unset;
      }
    }

    @media (max-width: 768px) {
      width: calc(100% - 30px);
      margin: 15px 0;
    }

    @media (max-width: 575.98px) {
      width: 100%;
      height: 100vh;
      margin: 0;
    }
  }

  @media (max-width: 575.98px) {
    background-image: unset;
  }
}
