.create-join-room-container {
  background-image: url('../../../assets/images/start-background.png'), linear-gradient(to bottom, #0369c2, #00347d);
  height: 100vh;

  .logo-container {
    .acvila-logo {
      @media (max-width: 768px) {
        width: 140px;
      }
    }
  }

  .under-logo {
    border-radius: 100%;
    position: relative;
    height: 4px;
    width: 4px;
    border: solid 1px #90aeda;
    margin-top: 42px;
  }

  .under-logo::before {
    content: '';
    width: 100px;
    height: 1px;
    border: solid 0.5px #90aeda;
    text-align: center;
    margin-left: 6px;
    position: absolute;
    left: 50%;
  }

  .under-logo::after {
    content: '';
    width: 100px;
    height: 1px;
    border: solid 0.5px #90aeda;
    text-align: center;
    margin-right: 6px;
    position: absolute;
    right: 50%;
  }

  .room-title {
    padding: 50px 20px 0;
    text-shadow: 1px 1px 1px #073370;
    font-size: 36px;
    text-align: center;
    color: #fff;

    @media (max-width: 768px) {
      padding-top: 30px;
      font-size: 32px;
    }
  }

  .buttons-container {
    padding-top: 40px;

    button {
      width: 300px;
      height: 40px;
      font-size: 18px;
      border-radius: 3px;
      margin-top: 40px;

      &.join-button {
        color: #fff;
        background-color: #98b60c;
      }

      &.create-button {
        color: #66c414;
      }

      @media (max-width: 768px) {
          width: 200px;
          margin-top: 25px;
      }
    }
  }

  .create {
    padding-top: 20px;
  }
}
