$header-height: 80px;
$margin-bottom: 50px;

.room-container {
  background-color: #e7eafa;
  overflow: auto;

  .topics {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding-right: 10px;
    max-height: 340px;
    margin-top: 20px;

    .copy {
      display: flex;
      justify-content: flex-end;
      img {
        width: 25px;
        cursor: pointer;
      }
    }

    .topic-wrapper {
      &:last-child {
        display: none;
      }
    }

    .topic {
      min-height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      color: #073370;
      letter-spacing: -0.43px;
      border-bottom: 1px solid rgba(144, 174, 218, 0.6);
      padding: 8px 0;

      .topic-description {
        width: calc(100% - 60px);
      }

      .topic-points {
        background-color: rgba(144, 174, 218, 0.1);
        font-size: 18px;
        width: 60px;
        height: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        border: 1px solid rgba(144, 174, 218, 0.4);
        border-radius: 5px;
        color: #2a82f0;
      }
    }
  }
  .card-wait {
    height: 100%;
    box-shadow: 0 1px 3px 0 rgba(86, 127, 180, 0.2), 0 2px 1px -1px rgba(86, 127, 180, 0.12), 0 1px 1px 0 rgba(86, 127, 180, 0.14);
    background-color: #ffffff;
    padding: 15px;
    border-radius: 6px;
  }

  .card-wait-text {
    color: #517aaf;
    font-size: 16px;
    margin: 25px 0;
    text-align: center;
  }

  .content-container {
    margin: 0 auto;
    height: calc(100vh - 80px);

    .room-content {
      min-height: 100%;

      .team-list {
        background-color: #ffffff;
        box-shadow: 0 1px 18px 0 rgba(86, 127, 180, 0.12), 0 6px 10px 0 rgba(86, 127, 180, 0.14), 0 3px 5px -1px rgba(86, 127, 180, 0.2);

        .share {
          .share-image {
            @media (max-width: 992px) {
              width: 100px;
            }
          }

          .share-button {
            width: 200px;
            height: 36px;
            font-size: 14px;
            border-radius: 3px;
            color: #ffffff;
            background-color: #0369c2;

            &:active {
              background-color: cornflowerblue;
            }

            @media (max-width: 992px) {
              width: 150px;
            }
          }

          .share-icon {
            filter: brightness(0) invert(1);
            height: 20px;
          }
        }
      }

      .statistics {
        border-radius: 6px;
        box-shadow: 0 1px 3px 0 rgba(86, 127, 180, 0.2), 0 2px 1px -1px rgba(86, 127, 180, 0.12), 0 1px 1px 0 rgba(86, 127, 180, 0.14);
        background-color: #ffffff;
        margin: 15px 15px 15px 0;

        .statistics-header {
          color: #517aaf;
          font-weight: bold;
          font-size: 16px;
          padding-top: 25px;
        }

        .card-wait-img {
          padding-top: 16px;
        }

        .horizontal-line {
          margin-top: 50px;
          width: 100%;
          height: 1px;
          border-bottom: solid 1px rgba(97, 135, 184, 0.4);
        }

        .empty-box {
          height: 18px;
          background-color: rgba(101, 130, 162, 0.15);
          border-radius: 3px;
        }
      }

      .center-panel {
        padding: 15px;

        .user-voting-panel {
          .story-to-estimate {
            width: 100%;
            margin-bottom: 15px;
            margin-right: 12px;
            font-weight: bold;
            color: #6187b8;
            font-size: 16px;
            background-color: #ffffff;
            padding: 10px;
            border-radius: 6px;
            box-shadow: 0 1px 3px 0 rgba(86, 127, 180, 0.2), 0 2px 1px -1px rgba(86, 127, 180, 0.12), 0 1px 1px 0 rgba(86, 127, 180, 0.14);
          }
        }

        .po {
          border-radius: 6px;
          box-shadow: 0 1px 3px 0 rgba(86, 127, 180, 0.2), 0 2px 1px -1px rgba(86, 127, 180, 0.12), 0 1px 1px 0 rgba(86, 127, 180, 0.14);
          background-color: #ffffff;
          padding: 20px;
          height: 100%;

          .capacity {
            text-align: center;
          }

          .board {
            margin: 5px 0 15px;
            font-weight: bold;
            color: #6187b8;
            font-size: 16px;
          }

          .new-topic-title {
            margin-bottom: 15px;
            font-weight: bold;
            color: #6187b8;
            font-size: 24px;
          }

          input {
            color: #073370;
            background: rgba(144, 174, 218, 0.1);
            height: 50px;
          }

          .btn {
            background-color: #2a82f0;
            font-weight: bold;
            height: 50px;
            box-shadow: 0 1px 8px 0 rgba(25, 27, 79, 0.2), 0 3px 3px -2px rgba(25, 27, 79, 0.12), 0 3px 4px 0 rgba(25, 27, 79, 0.14),
              inset -2px -3px 0 0 #155bb3;
            color: #fff;
          }

          .po-start-room {
            padding-top: 5px;

            .po-start-room-header {
              color: #517aaf;
              font-size: 16px;
              font-weight: bold;
            }

            .po-start-room-image {
              margin: 100px 0 30px;

              img {
                height: 120px;
              }

              span {
                color: #517aaf;
                font-size: 16px;
                width: 80%;
              }
            }
          }

          .story-in-progress {
            .in-progress {
              margin: 5px 0 15px;
              font-weight: bold;
              color: #6187b8;
              font-size: 16px;
            }

            .story-name {
              margin-bottom: 15px;
              color: #0369c2;
              font-size: 16px;
              font-weight: bold;
            }

            .final-value {
              display: flex;
              justify-content: center;
              form {
                display: flex;

                input {
                  width: 120px;
                  margin-right: 10px;
                }
              }
            }
          }



          .next-topic {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .topic-info {
              width: calc(100% - 120px);
            }

            .btn {
              width: 110px;
            }
          }
        }
      }
    }

    .button-container {
      padding: 15px 0;

      button {
        width: 400px;
        height: 60px;
        font-size: 24px;
        border-radius: 6px;
        box-shadow: 0 1px 8px 0 rgba(25, 27, 79, 0.2), 0 3px 3px -2px rgba(25, 27, 79, 0.12), 0 3px 4px 0 rgba(25, 27, 79, 0.14),
          inset -2px -3px 0 0 #228900;

        &.inactive {
          box-shadow: none;
        }
      }
    }
  }

  .loader {
    margin-top: 15px;
    border-radius: 50%;
    border-top: 8px solid blueviolet;
    border-right: 8px solid yellow;
    border-bottom: 8px solid pink;
    border-left: 8px solid greenyellow;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  .loader-text {
    font-size: 18px;
    color: #6187b8;
    margin-top: 15px;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loading-data {
    height: calc(100vh - #{$header-height});
  }
}
