.statistics-container {
  .card-wait-img {
    width: 100%;
  }

  .in-progress-loader {
    margin: 25px 0 10px;

    .in-progress-loader-text {
      font-weight: bold;
      color: #6187b8;
      font-size: 16px;
    }
  }

  .topics {
    overflow-y: auto;
    padding-right: 10px;
    padding-top: 20px;
    width: 100%;

    .topic-wrapper {
      &:last-child {
        display: none;
      }
    }

    .topic {
      width: 100%;
      min-height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      color: #073370;
      letter-spacing: -0.43px;
      border-bottom: 1px solid rgba(144, 174, 218, 0.6);
      padding: 8px 0;

      .topic-description {
        max-width: 145px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .topic-points {
        background-color: rgba(144, 174, 218, 0.1);
        font-size: 18px;
        width: 60px;
        height: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        border: 1px solid rgba(144, 174, 218, 0.4);
        border-radius: 5px;
        color: #2a82f0;
      }
    }
  }

  .card-wait {
    height: 100%;
    box-shadow: 0 1px 8px 0 rgba(25, 27, 79, 0.2), 0 3px 3px -2px rgba(25, 27, 79, 0.12), 0 3px 4px 0 rgba(25, 27, 79, 0.14),
      inset -5px -5px 0 0 #073370;
    border: solid 1px #ffffff;
    background-image: linear-gradient(to top, #155bb3, #2a82f0);
    padding: 45px;
    border-radius: 6px;
  }

  .card-wait-text {
    color: #d7e4f7;
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
  }

  .loader {
    margin-top: 15px;
    border-radius: 50%;
    border-top: 8px solid blueviolet;
    border-right: 8px solid yellow;
    border-bottom: 8px solid pink;
    border-left: 8px solid greenyellow;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  .statistics-results {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .horizontal-line {
      height: 1px;
      border-bottom: solid 1px rgba(97, 135, 184, 0.4);
    }

    .empty-box {
      height: 18px;
      background-color: rgba(101, 130, 162, 0.15);
      border-radius: 3px;
    }

    .results {
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding-top: 10px;

      .high {
        padding-left: 70px;
        color: #6187b8;

        .text-result {
          text-align: center;
        }

        .high-result {
          display: flex;
          justify-content: center;
        }
      }

      .low {
        color: #6187b8;

        .text-result {
          text-align: center;
        }

        .low-result {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
