.team-list-container {
  padding: 40px 0 0 10px;

  .list-title {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    color: #517aaf;
  }

  .owner {
    padding: 16px 0 15px;
    margin-right: 5px;

    .owner-name {
      color: #073370;
      font-weight: bold;
    }
  }

  .user-container {
    .users-list {
      padding-top: 24px;
      padding-bottom: 10px;

      .user {
        padding: 10px 10px 10px 0;
        .offline {
          opacity: 0.4;
        }
        .user-name-container {
          border-bottom: 1px solid rgba(97, 135, 184, 0.2);

          .user-name {
            color: #073370;
            padding-bottom: 7px;
          }

          .dot {
            height: 15px;
            width: 15px;
            background-color: #e8e8e8;
            border-radius: 50%;
            display: block;
          }

          .checkmark {
            display: inline-block;
            transform: rotate(40deg);
            height: 16px;
            width: 8px;
            margin-left: 60%;
            border-bottom: 2px solid #78b13f;
            border-right: 2px solid #78b13f;
            display: block;
            position: relative;
            left: -5px;
          }

          .vote-value {
            display: block;
          }
        }
      }
    }

    .image-container {
      padding: 5px;
      border-radius: 50%;
      background-color: #edeffb;
      margin-right: 10px;
    }
  }
}
